:root {
    --primary-color: #40adfd;
    --secondary-color: #7754fc;
    --text-color: #555555;
    --white: #ffffff;
    --black: #000000;
    --font-family-sarif: 'Lato', sans-serif;
  }


.title {
  font-family: var(--font-family-sarif);
}