@import "./../../variables.scss";

.input-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
  margin-top: 24px;
  input {
    font-size: 16px;
    color: $white;
    line-height: 1.2;
    width: 100%;
    box-sizing: border-box;
    height: 62px;
    background: transparent;
    padding: 16px 8px 0 32px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    transition: border 1s ease-in-out;
    -webkit-text-fill-color: $white;
    -webkit-box-shadow: 0 transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
      background: transparent;
    }
    &::placeholder {
      color: $white;
      opacity: 1;
      font-family: $font-family-text;
    }
    &:focus {
      border-color: rgba(255, 255, 255, 1);
      &::placeholder {
        position: absolute;
        transform: translateY(-30px);
        font-size: 14px;
        transition: all 0.4s;
        z-index: 1;
      }
    }
    & ~ label {
      display: none;
      position: absolute;
      top: 0;
      left: 32px;
      font-size: 14px;
      color: $white;
    }
    &:not(:placeholder-shown) ~ label {
      display: block;
    }
  }
  > i {
    content: "";
    position: absolute;
    bottom: 16px;
    left: 0;
    color: $white;
    font-size: 20px;
  }
  .show-password {
    position: absolute;
    right: 0;
    bottom: 0;
    color: $white;
    padding: 16px 0 16px 16px;
    cursor: pointer;
    .tooltip {
      position: absolute;
      z-index: 1;
      top: -3px;
      left: -61px;
      width: 95px;
      font-size: 12px;
      background: rgba(255,255,255,.5);
      color: #000;
      padding: 2px;
      border-radius: 4px;
      visibility: hidden;
    }
    &:hover {
      .tooltip {
        visibility: visible;
      }
    }
  }
}
