@import './variables.scss';
@import "font-awesome/scss/font-awesome.scss";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-text;
  line-height: 1.2;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}


.title {
  font-family: $font-family-titles;
  margin-top: 0;
  font-weight: 500;
}
p {
  margin-top: 0;
}

.btn {
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  min-width: 128px;
  height: 48px;
  border-radius: 24px;
  z-index: 1;
  margin: 0 auto;
  cursor: pointer;
  font-family: $font-family-text;
  border: 0;
  &:focus {
    outline: none;
  }
}

.btn-default {
  color: $white;
  background-color: $primary-color;
  &:hover, &:focus, &:active {
    color: $white;
    background-color: $secondary-color;
  }
}

.btn-inverse {
  color: $text-color;
  background: $white;
  border: 1px solid $primary-color;
  transition: all .4s ease-in-out;
  &:hover {
    transform: scale(1.15);
  }
}
