
$font-family-titles: 'Raleway', sans-serif;
$font-family-text: 'Montserrat', sans-serif;
$primary-color: #a93107;
$secondary-color: #ff9842;
$tertiary-color: #d5e228;
$text-color: #555555;
$white: #ffffff;
$black: #000000;

$gutter: 15px;
