@import "./../../variables.scss";

.form-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient($secondary-color, $primary-color);

  form {
    padding: 32px;
    width: 100%;

    i {
      content: "";
      position: absolute;
      bottom: 16px;
      left: 0;
      color: $white;
      font-size: 20px;
    }
  }

  .form-title {
    font-size: 24px;
    color: $white;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 16px 0 0;
  }

  .error {
    font-size: 12px;
    line-height: 2;
    color: red;
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    padding: 0 4px;
    font-weight: bold;
  }

  .error-wrapper {
      text-align: center;
      margin-top: 24px;
      .error {
          display: inline-block;
      }
  }

  .auth-link {
    text-align: center;
    color: $white;
    font-size: 12px;
    margin-top: 2rem;
    a {
      color: white;
      font-weight: 500;
    }
  }
}

@media (min-width: 320px) {
  .form-wrapper form {
    padding: 32px 48px;
  }
}

@media (min-width: 576px) {
  .form-wrapper {
    .btn {
      margin-top: 32px;
    }
  }
}

@media (min-width: 768px) {
  .form-wrapper {
    background: $white;
    form {
      border-radius: 10px;
      width: 500px;
      background: linear-gradient($secondary-color, $primary-color);
      box-sizing: border-box;
    }
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
