@import "./index.scss";

ul {
  padding-left: none;
}

.pagination {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination .page-item {
  position: relative;
  float: left;
  padding: 6px 12px;
  color: var(--black);
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination .page-item:focus,
.pagination .page-item:hover,
.pagination .page-item:focus,
.pagination .page-item:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: var(--black);
  background-color: rgba(119, 84, 252, 0.1);
}

.pagination .page-item:disabled {
  color: #b0b0b0;
  background-color: #f6f6f6;
}

