#pokemons {
    max-width: 500px;
    margin: 0 auto;
}

.accordion-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.accordion-list li {
    display: flex;
    margin-bottom: 2px;
}

.accordion-list li:hover .delete-button {
    background-color: rgba(119, 84, 252, .1);
}

.accordion-list li:hover .accordion-item:hover {
    opacity: .7;
}

.accordion {
    font-family: var(--font-family-sarif);
    width: calc(100% - 38px);
}

.accordion-list .delete-button {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    cursor: pointer;
}


.accordion-item {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 36px;
    color: #fff;
    cursor: pointer;
    justify-content: space-between;
    background: linear-gradient(90deg,var(--secondary-color),var(--primary-color))
}

.accordion-item .title {
    margin: 0;
    font-size: 16px;
}

.accordion-content {
    max-height: 0;
    transition: max-height 1s ease-in-out;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #fbfbfb;
    border: 1px solid #f0eeee;
    -webkit-box-shadow: 10px 10px 34px -10px rgba(224,224,224,1);
    -moz-box-shadow: 10px 10px 34px -10px rgba(224,224,224,1);
    box-shadow: 10px 10px 34px -10px rgba(224,224,224,1);
}

.accordion-content ul {
    list-style: none;
    padding-left: 0; margin-right: 32px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.accordion-content ul .title {
    margin: 8px 0;
    display: inline-block;
    width: 25%;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.accordion-content .image-wrapper {
    width: 20%;
    display: flex;
    align-items: center;
}


.accordion.opened .accordion-content {
    max-height: 100%;
}

.accordion.opened .icon {
    transform: rotate(180deg);
}

.pagination {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.pagination li {
    display: flex;
}

.pagination .page-link {
    position: relative;
    float: left;
    padding: 6px 12px;
    color: var(--black);
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination .page-link:focus, .pagination .page-link:hover, 
.pagination .page-link:focus, .pagination .page-link:hover,
.pagination > li > span:focus, .pagination > li > span:hover {
    color: var(--black);
    background-color: rgba(119, 84, 252, .1);
}


.pagination .page-link:disabled {
    color: #b0b0b0;
    background-color: #f6f6f6;
}