@import "./../../variables.scss";

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $white;
  }
  
  .logo {
    position: relative;
    width: 51px;
    height: 51px;
    .square {
      width: 30px;
      height: 30px;
      border: 2px solid $black;
    }
  
    .background-black {
      background-color: $black;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  
    .border-black {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .border-white {
      position: absolute;
      border: 2px solid $white;
      right: -2px;
      top: -2px;
      width: 34px;
      height: 34px;
    }
  }
  